/* Increase the base font size and line spacing */
body {
  font-size: 18px; /* Adjust base font size */
  line-height: 1.8; /* Adjust line spacing */
}

@media (min-width: 992px) {
    .sidebar-navigation .sidebar-item {
        font-size: 1.1rem; /* Increasing the font size */
        margin-bottom: 1.3em; /* Adding space below each item */
        line-height: 1.2; /* Increasing space between lines */
    }
}